﻿@section Scripts {
	@Scripts.Render("~/Scripts/StorageApiScript.js")
}


<div class="row">
	<div class="col-sm-4">
		<form method="post" action="post/" id="registration">
			<h3>Registration</h3>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" id="regEmail" />
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" type="password" id="regPass1" />
			</div>
			<div class="form-group">
				<label>Confirm password</label>
				<input class="form-control" type="password" id="regPass2" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Registration</button>
			</div>
		</form>
	</div>

	<div class="col-sm-4">
		<form method="post" action="post/" id="login">
			<h3>Login</h3>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" id="logEmail" />
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" type="password" id="logPass" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Login</button>
			</div>
		</form>
	</div>
</div>

<br />
<div class="row">
	<div class="col-sm-4" id="logout">
		<h3>Logout</h3>
		<button class="btn btn-default" id="userLogout">Logout</button>
	</div>
</div>

<hr />
<div class="row">
	<p id="info"></p>
	<br />
</div>


<div class="container">
	<button type="button" id="btnCategories">Categories</button>
	<button type="button" id="btnStatistics">Statistics</button>
	<div id="dataCategories">
	</div>
	<br />
	<br />
	<div id="formDivOne" style="display:none">
		<form method="post" action="post/" id="categoryForm">
			<h3>Add new category</h3>
			<p><label>Name: <input id="categoryName"></label></p>
			<br />
			<p><button>Submit</button></p>
		</form>
	</div>
</div>

<div class="container">
	<button type="button" id="btnProducts">Products</button>
	<button type="button" id="btnProductDetails">Product details</button>
	<button type="button" id="btnLowest">Cheapest products</button>
	<button type="button" id="btnLowerPrices">Search low prices</button>
	<button type="button" id="btnProductsFromCat">All products one category</button>
	<div id="dataProducts">
	</div>
	<br />
	<div id="formDivTwo" style="display:none">
		<form method="post" action="post/" id="productForm">
			<h3>Add new product</h3>
			<p><label>Name: <input id="productName"></label></p>
			<p><label>Price: <input id="productPrice"></label></p>
			<p id="selection"></p>
			<br />
			<p><button>Submit</button></p>
		</form>
	</div>
	<br />
	<div id="formDivThree" style="display:none">
		<form method="get" action="get/" id="productDetailsForm">
			<h3>Enter product id</h3>
			<p><label>Product Id: <input id="productId"></label></p>
			<br />
			<p><button>Submit</button></p>
		</form>
	</div>
	<div id="dataProductDetails">
	</div>
	<br />
	<div id="formDivFour" style="display:none">
		<form method="post" action="post/" id="lowerPricesForm">
			<h3>Enter price</h3>
			<p><label>Product price: <input id="searchPrice"></label></p>
			<br />
			<p><button>Search</button></p>
		</form>
	</div>
	<div id="dataLowerPrices">
	</div>
	<br />
	<div id="formDivFive" style="display:none">
		<form method="post" action="post/" id="productsFromCat">
			<h3>Chose category</h3>
			<p id="selectionTwo"></p>
			<br />
			<p><button>Show products</button></p>
		</form>
	</div>
	<div id="dataProductsFromCat">
	</div>
</div>


